# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# VS Code settings
.vscode/

# Flask cache or other temp files
instance/
*.pyc

# Ignore pycache inside app
app/__pycache__/
